/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
a {
    text-decoration: none; /* 移除所有链接的下划线 */
    color: inherit; /* 使用父元素的颜色 */
}

.container{
    display: flex;
}
.mid{
    flex-grow: 1;
}

.content-with-bar {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: flex-start; /* 控制元素从左向右排列 */
    /* margin-bottom: 50px; */
    margin-top: 2%;

}
.left-bar {
    /* background-color: #0043B3; */
    width: 2.8%; /* 蓝条的宽度 */
    height: auto; /* 确保蓝条与段落高度一致 */
    display: inline-block; /* 作为内联块级元素 */
    /* margin-left: 10px;  */
    margin-right: 7.2%;
}
.content{
    flex-grow: 1;
}

 .content-header {
    font-size: 24px;
    font-weight: bold;
}

.content-date {
    color: gray;
    font-size: 14px;
}

.content-description {
    margin-top: 10px;
}
.content-image {
    width: 20%; /* 根据需要调整图片大小 */
    margin-right: 20px; /* 与文字部分的间距 */
}

.image {
    width: 100%; /* 确保图片自适应 */
    height: auto; /* 保持纵横比 */
}




.right {
    width: 10%;
    display: flex; /* 启用弹性布局 */

}

.tabs {
    display: flex;
    border-bottom: 2px solid #333333; 
    width: auto;
    margin-left: 10%;
    /* text-align: left; */
    justify-content: space-between; /* Ensures left alignment for all children */
}

.tab {
    padding: 10px 20px;
    cursor: pointer; 
    font-weight: normal;
    color: grey; 
    font-size: 25px;
}

.tab.active {
    font-weight: bold; 
    color: black; 
    font-size: 25px;
}